
/* search bar*/
main, section {
  display: block;
}

.header-bg {
  background-color: #2861F6;
  border-bottom: 10px solid #264caa;
}

.logo-bg {
  background-image: url("../assets/homepage/header-logobg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.pageCarousel {
  border-bottom: 10px solid #264caa;
}

ul.social-media li img {
  width: 20px;
  display: inline;
}

.latest-news-and-events .news-and-events-container {
  border: 5px solid #264caa;
  padding: 5px;
}

.latest-news-and-events .news-and-events-container .row {
  border: 5px solid #ffc228;
  padding: 5px;
  margin: 5px 0px;
}

.latest-news-and-events h3 {
  color: #264caa;
}

.recent-events {
  background-image: linear-gradient(165deg, #330d69, #30c9cd);
}


.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .searchbar{
    margin-bottom: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 10px;
    justify-content: right;
    align-items: right;
    }

 
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }
  
    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:rgb(255, 255, 255);
    transition: width 0.4s linear;
    }
  
    .searchbar:hover > .search_icon{
    background: white;
    color: #2400f3;
    }
  
    .search_icon{
    background: gray;
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

       /* WebKit, Edge */
::-webkit-input-placeholder {
  color: white;
}
/* Firefox 4-18 */
:-moz-placeholder {
  color: white;
  opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: white;
  opacity: 1;
}
/* IE 10-11 */
:-ms-input-placeholder {
  color: white;
}
/* Edge */
::-ms-input-placeholder {
  color: white;
}
/* MODERN BROWSER */
::placeholder {
  color: white;
}
  
    
  .span{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
  }
  
  .card.card-image {
    width: 100%;
    background-position: center;
    background-size: cover; }
    .card.card-image [class*="rgba-"] {
      border-radius: 0.25rem; }
  
  .card.card-cascade .view.view-cascade {
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
    .card.card-cascade .view.view-cascade.gradient-card-header {
      padding: 1.6rem 1rem;
      color: #fff;
      text-align: center; }
      .card.card-cascade .view.view-cascade.gradient-card-header .card-header-title {
        font-weight: 500; }
      .card.card-cascade .view.view-cascade.gradient-card-header .btn-floating {
        background-color: rgba(255, 255, 255, 0.2); }
  
  .card.card-cascade.wider {
    background-color: transparent;
    box-shadow: none; }
    .card.card-cascade.wider .view.view-cascade {
      z-index: 2; }
    .card.card-cascade.wider .card-body.card-body-cascade {
      z-index: 1;
      margin-right: 4%;
      margin-left: 4%;
      background: #fff;
      border-radius: 0 0 0.25rem 0.25rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      .card.card-cascade.wider .card-body.card-body-cascade .card-footer {
        margin-right: -1.25rem;
        margin-left: -1.25rem; }
    .card.card-cascade.wider.reverse .card-body.card-body-cascade {
      z-index: 3;
      margin-top: -1rem;
      border-radius: 0.25rem;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  
  .card.card-cascade.narrower {
    margin-top: 1.25rem; }
    .card.card-cascade.narrower .view.view-cascade {
      margin-top: -1.25rem;
      margin-right: 4%;
      margin-left: 4%; }
  
  .card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem; }
  
  .mdb-color.lighten-3 {
      background-color: #929fba !important; }
  
  .view {
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .view .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-attachment: fixed; }
    .view img, .view video {
      position: relative;
      display: block; 
      height: 30rem;
    }
    .view video.video-intro {
      top: 50%;
      left: 50%;
      z-index: -100;
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      transition: 1s opacity;
      transform: translateX(-50%) translateY(-50%); }
  
  .overlay .mask {
    opacity: 0;
    transition: all 0.4s ease-in-out; }
    .overlay .mask:hover {
      opacity: 1; }
  
  .zoom img, .zoom video {
    transition: all 0.2s linear; }
  
  .zoom:hover img, .zoom:hover video {
    transform: scale(1.1); }
  
  
    .waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; }
    .waves-effect .waves-ripple {
      position: absolute;
      width: 100px;
      height: 100px;
      margin-top: -50px;
      margin-left: -50px;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.2);
      background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
      border-radius: 50%;
      opacity: 0;
      transition-property: transform, opacity;
      transition: all 0.5s ease-out;
      transform: scale(0) translate(0, 0); }
    .waves-effect.waves-light .waves-ripple {
      background: rgba(255, 255, 255, 0.4);
      background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }
    .waves-effect.waves-classic .waves-ripple {
      background: rgba(0, 0, 0, 0.2); }
    .waves-effect.waves-classic.waves-light .waves-ripple {
      background: rgba(255, 255, 255, 0.4); }
  
  .waves-notransition {
    transition: none !important; }
  
  .waves-button,
  .waves-circle {
    transform: translateZ(0);
    }
  
  .waves-button,
  .waves-button:hover,
  .waves-button:visited,
  .waves-button-input {
    z-index: 1;
    font-size: 1em;
    line-height: 1em;
    color: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none; }
  
  .waves-button {
    padding: .85em 1.1em;
    border-radius: .2em; }
  
  .waves-button-input {
    padding: .85em 1.1em;
    margin: 0; }
  
  .waves-input-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: .2em; }
    .waves-input-wrapper.waves-button {
      padding: 0; }
    .waves-input-wrapper .waves-button-input {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1; }
  
  .waves-circle {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%; }
  
  .waves-float {
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    transition: all 300ms; }
    .waves-float:active {
      box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3); }
  
  .waves-block {
    display: block; }
  
  a.waves-effect, a.waves-light {
    display: inline-block; }


@media (min-width: 992px) { 
  .card-body.card-body-cascade{
    background-color: chartreuse;
  }
 }





/* XX-Large devices (large desktops, more than 1400px)*/
@media(min-width: 1400px){
  .card-div-left {
    position: relative;
    top: -60px;
  }
  .card-div-right{
    position: relative;
    top: -220px;
  }
  .top-left-logo {
    color: white;
    text-align: center;
    width: 900px;
    background-color: gray;
    position: absolute;
  }
  .top-right-logo{
    position: relative;
    width: 400px;
    display: block;
    margin-left: 750px;
  }
  .responsive-text{
    font-size: 20px;
    color:white;
    text-align:center;
    font-size: 28px;
    margin-bottom: -141px;
    position: relative;
    top: -177px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    top: 166px;
  }
  span.text-white {
    font-size: 24px;
  }
  .container-fluid.header-bg {
    margin-top: 100px;
    border-radius: 8px;
  }
  .row.d-flex.justify-content-evenly {
    margin-bottom: 76px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    margin-bottom: -62px;
  }
  .my-paging {
    margin-left: 563px;
    margin-top: 92px;
  }
  .my-paging {
    position: relative;
    top: 69px;
  }
  button.btn.btn-primary {
    position: relative;
    top: -10px;
  }
  button.btn.btn-light {
    position: relative;
    top: -10px;
  }
}
/* X-Large devices (large desktops, less than 1400px)*/
@media(max-width: 1399px){
  .card-div-left {
    position: relative;
    top: -50px;
  }
  .card-div-right{
    position: relative;
    top: -200px;
  }
  .top-left-logo {
    color: white;
    text-align: center;
    width: 850px;
    background-color: gray;
    position: absolute;
  }
  .top-right-logo{
    position: relative;
    width: 370px;
    display: block;
    margin-left: 750px;
  }
  .responsive-text{
    color:white;
    text-align:center;
    font-size: 24px;
    margin-bottom: -154px;
    position: relative;
    top: -174px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    top: 151px;
  }
  span.text-white {
    font-size: 23px;
  }
  ul.pagination.justify-content-center.pagination-lg {
    position: relative;
    top: 5px;
  }
  .container-fluid.header-bg {
    margin-top: 82px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    padding-bottom: 63px;
}
  .my-paging {
    margin-left: 560px;
    margin-top: 92px;
  }
  .my-paging {
    position: relative;
    top: 2px;
  }
  button.btn.btn-primary {
    position: relative;
    top: -10px;
  }
  button.btn.btn-light {
    position: relative;
    top: -10px;
  }
  .container-fluid.header-bg {
    margin-top: 26px;
    border-radius: 8px;
  } 
}
/* If the screen size is smaller than 1200px, set the font-size to 30px */
@media(max-width: 1199px){
  .card-div-left {
    position: relative;
    top: -50px;
  }
  .card-div-right{
    position: relative;
    top: -170px;
  }
  .top-left-logo {
    color: white;
    text-align: center;
    width: 700px;
    background-color: gray;
    position: absolute;
  }
  .top-right-logo{
    position: relative;
    width: 340px;
    display: block;
    margin-left: 615px;
  }
  .responsive-text{
    font-size: 22px;
    color: white;
    text-align:center;
    margin-bottom: -119px;
    position: relative;
    top: -144px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    top: 110px;
    padding-bottom: 93px;
  }
  span.text-white {
    font-size: 19px;
  }
  ul.pagination.justify-content-center.pagination-lg {
    position: relative;
    top: -44px;
  }
  .container-fluid.header-bg {
    margin-top: 45px;
  }
  .my-paging {
    position: relative;
    top: -56px;
    margin-left: 457px;
  }
  .container-fluid.header-bg {
    margin-top: -27px;
    border-radius: 8px;
  }
}

/*Medium devices (less than 992px)*/
@media(max-width: 991px){
  .card-div-left {
    position: relative;
    top: -50px;
  }
  .card-div-right{
    position: relative;
    top: -130px;
  }
  .top-left-logo {
    color: white;
    text-align: center;
    width: 510px;
    background-color: gray;
    position: absolute;
  }
  .top-right-logo{
    position: relative;
    width: 250px;
    display: block;
    margin-left: 450px;
  }
  .responsive-text{
    font-size: 16px;
    color: white;
    text-align:center;
    margin-bottom: -100px;
    position: relative;
    top: -116px;
  }
  span.text-white {
    font-size: 18px;
  }
  ul.pagination.justify-content-center.pagination-lg {
    position: relative;
    top: -24px;
  }
  .container-fluid.header-bg {
    margin-top: 32px;
  }
  .container-fluid.header-bg {
    margin-top: -22px;
  }
  .my-paging {
    position: relative;
    left: 261px;
    top: -63px;
  }
  button.btn.btn-primary {
    position: relative;
    top: -10px;
    font-size: 18px;
  }
  button.btn.btn-light {
    position: relative;
    top: -10px;
    font-size: 18px;
  }
  .container-fluid.header-bg {
    margin-top: 0px;
  }
  .row.d-flex.justify-content-evenly {
    padding-bottom: 69px;
  }
  .my-paging {
    position: relative;
    left: 395px;
    top: 6px;
  }
  .my-paging {
    position: relative;
    left: -109px;
    top: -57px;
    margin-left: 627px;
  }
  ul.pagination {
    position: relative;
    right: 164px;
    background-color: rgba(255, 0, 0, 0);
    width: 20px;
  }
  .container-fluid.header-bg {
    margin-top: -41px;
    border-radius: 8px;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media(max-width: 767px){
  .card-div-left {
    position: relative;
    top: -40px;
  }
  .card-div-right{
    position: relative;
    top: -110px;
  }
  .top-left-logo {
    color: white;
    text-align: center;
    width: 370px;
    background-color: gray;
    position: absolute;
  }
  .top-right-logo{
    position: relative;
    width: 200px;
    display: block;
    margin-left: 330px;
  }
  .responsive-text{
    color:white;
    text-align:center;
    font-size: 14px;
    margin-bottom: -117px;
    position: relative;
    top: -108px;
    
  }
  .card{
    margin-left: 30px;
    margin-right: 30px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    top: 76px;
  }
  span.text-white {
    font-size: 16px;
  }
  ul.pagination.justify-content-center.pagination-lg {
    position: relative;
    top: -93px;
  }
  .my-paging {
    position: relative;
    left: 261px;
    top: -63px;
  }
  button.btn.btn-primary {
    position: relative;
    top: -10px;
    font-size: 18px;
  }
  button.btn.btn-light {
    position: relative;
    top: -10px;
    font-size: 18px;
  }
  .my-paging {
    position: relative;
    left: -209px;
    top: -148px;
    margin-left: 635px;
  }
  .container-fluid.header-bg {
    margin-top: -72px;
    border-radius: 8px;
  }
  button.btn.btn-outline-warning.text-white.btn-sm {
    position: relative;
    left: -30px;
  }
}
/*X-Small devices (portrait phones, less than 576px)*/
@media(max-width: 600px){
  .card-div-left {
    position: relative;
    top: -40px;
  }
  .card-div-right{
    position: relative;
    top: -80px;
  }
  .top-left-logo {
    color: white;
    text-align: center;
    width: 390px;
    background-color: gray;
    position: absolute;
  }
  .top-right-logo{
    position: relative;
    width: 140px;
    display: block;
    margin-left: 335px;
  }
  .responsive-text{
    color:white;
    text-align:center;
    font-size: 12px;
    margin-bottom: -89px;
    position: relative;
    top: -70px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    top: 43px;
  }
  span.text-white {
    font-size: 15px;
  }
  ul.pagination.justify-content-center.pagination-lg {
    position: relative;
    top: -149px;
  }
  .container-fluid.header-bg {
    margin-top: -55px;
  }
  .my-paging {
    position: relative;
    left: 178px;
    top: -87px;
  }
  button.btn.btn-primary {
    position: relative;
    top: -7px;
    font-size: 14px;
  }
  button.btn.btn-light {
    position: relative;
    top: -7px;
    font-size: 14px;
  }
  .my-paging {
    position: relative;
    left: -288px;
    top: -180px;
    margin-left: 635px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    width: 90%;
  }
  .container-fluid.header-bg {
    margin-top: -102px;
    border-radius: 8px;
  }
  button.btn.btn-outline-warning.text-white.btn-sm {
    position: relative;
    left: -30px;
  }
}

@media(max-width: 375px){
  p.top-left-logo.p-4.rounded-pill {
    width: 186px;
    font-size: 5px;
  }
  .top-right-logo {
    position: relative;
    width: 96px;
    display: block;
    margin-left: 156px;
    top: 25px;
  }
  .responsive-text{
    margin-bottom: -89px;
    position: relative;
    top: -70px;
    font-size: 9px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    top: 25px;
  }
  .card.card-cascade.narrower.bg-dark.pt-2 {
    width: 82%;
  }
  span.text-white {
    font-size: 12px;
  }
  ul.pagination.justify-content-center.pagination{
    position: relative;
    top: -185px;
  }
  .my-paging {
    position: relative;
    left: 77px;
    top: -113px;
    background-color: #c2c4c500;
    width: 198px;
  }
  .row.d-flex.justify-content-evenly {
    padding-bottom: 0px;
  }
  button.btn.btn-primary {
    position: relative;
    top: -6px;
    font-size: 11px;
    left: 4px;
  }
  button.btn.btn-light {
    position: relative;
    top: -6px;
    left: -3px;
    font-size: 11px;
    color: black;
  }
  .my-paging {
    position: relative;
    left: 39px;
    top: -55px;
    background-color: #1b90cb;
    width: 0px;
  } 
  .my-paging {
    position: relative;
    left: -405px;
    top: -161px;
    margin-left: 643px;
}
  .container-fluid.header-bg {
    margin-top: -111px;
    border-radius: 5px;
  }
  button.btn.btn-outline-warning.text-white.btn-sm {
    position: relative;
    left: -29px;
  }
}

.bg-secondary{
  height: 100px;
  text-align: center;
}
.pagination .page-item .page-link {
  font-size: 0.9rem;
  color: #f7fbff;
  background-color: transparent;
  border: 0;
  outline: 0;
  transition: all 0.3s linear;
}


